//-安装bower-component

link(href='/libs/bootstrap/dist/css/bootstrap.min.css',rel="stylesheet")
link(href='/libs/open-iconic/font/css/open-iconic-bootstrap.min.css',rel="stylesheet")
link(href='/libs/bootstrap-table/dist/bootstrap-table.css',rel="stylesheet")
link(href='/libs/bootstrap-table-editable/bootstrap-editable.css',rel="stylesheet")
link(href='/libs/formvalidation/css/formvalidation.min.css',rel="stylesheet")
link(href='/build/index.css',rel="stylesheet")

script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/popper.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
script(src="/libs/bootstrap-table/dist/bootstrap-table.js")
script(src="/libs/bootstrap-table-editable/bootstrap-table-editable.js")
script(src="/libs/bootstrap-table-editable/bootstrap-editable.js")
script(src="/libs/tableExport.jquery.plugin/tableExport.min.js")
script(src="/libs/bootstrap-table-export/bootstrap-table-export.js")
script(src="/libs/formvalidation/js/formvalidation.min.js")
script(src="/libs/formvalidation/js/framework/bootstrap.min.js")
script(src="/js/app.js")
