nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
    .navbar-header
        a.navbar-brand(href='/') 首页
        button.navbar-toggle.collapsed(data-toggle="collapse",aria-controls='navbarsExampleDefault',aria-expanded='false',data-target='#navbarsExampleDefault')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
    div.collapse.navbar-collapse#navbarsExampleDefault
        ul.navbar-nav.nav
            li.nav-item.dropdown
                a.nav-link.dropdown-toggle(href='#',data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') 企业过程资产库
                    span.caret
                ul.dropdown-menu(role="menu")
                    li.dropdown-submenu
                        a(href='#') 通用研制程序
                        ul.dropdown-menu
                            li
                                a(href="/stage") 产品研制阶段
                            li.divider(role="separator")
                            li 
                                a(href="/preview") 产品评审门
                    li.divider(role="separator")
                    li
                        a.dropdown-item(href='/activity') 通用研制程序过程集
                    li.divider(role="separator")
                    li
                        a.dropdown-item(href='#') 研制活动工具方法

            li.nav-item.dropdown
                a.nav-link.dropdown-toggle(href='#',data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') 项目中心
                    span.caret
                ul.dropdown-menu(role="menu")
                    //- li.dropdown-submenu
                    //-     a.dropdown-item(href='#') 基础数据 
                    //-     ul.dropdown-menu
                    //-         li
                    //-             a.dropdown-item(href='/pbs') PBS数据
                    //-         li.divider(role="separator")
                    //-         li
                    //-             a.dropdown-item(href='/wbs') WBS数据
                    //-         li.divider(role="separator")
                    //-         li
                    //-             a.dropdown-item(href='/obs') OBS数据
                    //-         li.divider(role="separator")
                    //-         li
                    //-             a.dropdown-item(href='/obsuser') OBS人员数据
                    //- li.divider(role="separator")
                    li
                        a.dropdown-item(href='/project/create') 新建项目
                    each item in projects
                        li.divider(role="separator")
                        li.dropdown-submenu
                            a.dropdown-item(href='#') #{item.name}
                            ul.dropdown-menu
                                li
                                    a.dropdown-item(href='/project/detail?id='+item._id) 项目概况
                                li.divider(role="separator")
                                li
                                    a.dropdown-item(href='/projectserver?id='+item._id) 项目集成立计划
                                li.divider(role="separator")
                                li
                                    if (item.name=="ARJ")
                                        a.dropdown-item(href='/jira?type=TA') 项目任务系统
                                    else if (item.name=="C919")
                                       a.dropdown-item(href='/jira?type=TC') 项目任务系统 
                                    else if (item.name=="C929")
                                        a.dropdown-item(href='/jira?type=TB') 项目任务系统 
                                    else
                                        a.dropdown-item(href='/jira') 项目任务系统 
                        
                        
            //- li.nav-item.dropdown
            //-     a.nav-link.dropdown-toggle(href='#',data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') 项目
            //-         span.caret
            //-     ul.dropdown-menu(role="menu")
            //-         li
            //-             a.dropdown-item(href='/project') 项目概况
            //-         li.divider(role="separator")
            //-         li
            //-             a.dropdown-item(href='/pbs') 项目PBS
            //-         li.divider(role="separator")
            //-         li
            //-             a.dropdown-item(href='/wbs') 项目WBS
            //-         li.divider(role="separator")
            //-         li
            //-             a.dropdown-item(href='/obs') 项目OBS
            //-         li.divider(role="separator")
            //-         li
            //-             a.dropdown-item(href='/obsuser') 项目OBS-人员
            //- li.nav-item.dropdown
            //-     a.nav-link.dropdown-toggle(href='#',data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') 项目管理
            //-         span.caret
            //-     ul.dropdown-menu(role="menu")
            //-         li
            //-             a.dropdown-item(href='/projectserver') project
            //-         li.divider(role="separator")
            //-         li
            //-             a.dropdown-item(href='/jira') 任务表单
            //-         li.divider(role="separator")
            //-         li
            //-             a.dropdown-item(href='/jiratask') 评审任务单
        p.navbar-text.navbar-right  
            if user
                span 欢迎您,#{user.name}
                span &nbsp;|&nbsp;
                a.navbar-btn(href="/logout") 登出
            else
                a.navbar-btn(href="#",data-toggle="modal",data-target="#signupModal") 注册
                span &nbsp;|&nbsp;
                a.navbar-btn(href="#",data-toggle="modal",data-target="#signinModal") 登录
        //- span &nbsp;&nbsp;
        //- form.navbar-form.navbar-right
        //-     input.form-control.mr-sm-2(type='text',placeholder='search',arial-label='Search')
        //-     button.btn.btn-outline-success.my-2.my-sm-0(type='submit') 检索

 #signupModal.modal.fade
    .modal-dialog
        .modal-content
            form(method="POST",action="/user/signup",type="text")
                .modal-header 注册
                .modal-body 
                    .form-group
                        label(for="signupName") 用户名
                        input#signupName.form-control(name="user[name]",type="text")
                    .form-group
                        label(for="signupPassword") 密码
                        input#signupPassword.form-control(name="user[password]",type="text")
                .modal-footer
                    button.btn.btn-deafult(type="button",data-dismiss="modal") 关闭
                    button.btn.btn-success(type="submit") 提交 
#signinModal.modal.fade
    .modal-dialog
        .modal-content
            form(method="POST",action="/user/signin",type="text")
                .modal-header 登录
                .modal-body 
                    .form-group
                        label(for="signupName") 用户名
                        input#signupName.form-control(name="user[name]",type="text")
                    .form-group
                        label(for="signupPassword") 密码
                        input#signupPassword.form-control(name="user[password]",type="text")
                .modal-footer
                    button.btn.btn-deafult(type="button",data-dismiss="modal") 关闭
                    button.btn.btn-success(type="submit") 提交
