extends ../layout

block content
  .jumbotron
    .container
        h1.display-3 项目中心
        p This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
  .container
      .row
          .col-md-4
              .card
                  .card-body
                      h4.card-title Head1
                      p.card-text Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
                      a.btn.btn-primary(href="#") Go somewhere
          .col-md-4
              .card
                  .card-body
                      h4.card-title Head2
                      p.card-text Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
                      a.btn.btn-primary(href="#") Go somewhere
          .col-md-4
              .card
                  .card-body
                      h4.card-title Head3
                      p.card-text Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
                      a.btn.btn-primary(href="#") Go somewhere
          

